html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #ccc;
}

header {
  background: #eee;
}

h1 {
  margin: 0;
  padding: 20px;
}

main {
  margin: 20px;
}

footer {
  text-align: center;
  color: navy;
}
